{% extends "base.html" %}

{%- block content %}
<table border="1">
    <tr>
        <th>Offset</th>
        <th>Identifier</th>
        <th>Name</th>
    </tr>
    {%- for child_id,child in children.items() %}
    <tr>
        <td class="address">{{"0x%x" % child.inst.addr_offset}}</td>
        <td><a href="?p={{child.get_path(empty_array_suffix='')}}" data-id="{{child_id}}" onclick="onClickNodeLink(event); return(false)">
            {%- if child.inst.is_array -%}
                {{child.inst.inst_name}}{{child.inst.array_dimensions}}
            {%- else -%}
                {{child.inst.inst_name}}
            {%- endif -%}
        </a></td>
        <td>{{child.get_property("name", default="-")}}</td>
    </tr>
    {%- endfor %}
</table>
{%- endblock %}