{% extends "base.html" %}

{% block content %}
<table border="1">
    <tr>
        <th>Bits</th>
        <th>Identifier</th>
        <th>Access</th>
        <th>Reset</th>
        <th>Name</th>
    </tr>
    {% for field in node.fields() %}
    <tr>
        {% if field.inst.msb == field.inst.lsb %}
        <td>[{{field.inst.lsb}}]</td>
        {% else %}
        <td>[{{field.inst.msb}}:{{field.inst.lsb}}]</td>
        {% endif %}
        <td>{{field.inst.inst_name}}</td>
        <td>{{field.get_property("sw").name}}</td>
        <td>
            {% if field.get_property("reset") != None %}
                {{"0x%x" % field.get_property("reset")}}
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{field.get_property("name")}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Fields</h2>
{% for field in node.fields() %}
{% set fdesc = field.get_property("desc") %}
{% if fdesc %}
<h3>{{field.get_property("name")}}</h3>
<p>{{fdesc}}</p>
{% endif %}
{% endfor %}
{% endblock %}
